rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /projects/{allPaths=**} {
      // Anyone can view the images
      allow read: if true;
      // Only authenticated admins can upload images
      allow write: if request.auth != null;
    }
  }
}
